@using Faker.Model


@if (Field != null)
{
    @switch (Field.Field.FieldType)
    {
        case FieldType.Simple:
            <span>@Value</span>
            break;
        case FieldType.ImageDataUri:
            <img src = "@Value" alt="@Field.Name"/>
            break;
        case FieldType.ImageLoremFlickrUrl:
            <img src="@Value" alt="@Field.Name" />
             break;
        case FieldType.ImageLoremPixelUrl:
            <img src="@Value" alt="@Field.Name" />
            break;
        case FieldType.ImagePicsumUrl:
            <img src="@Value" alt="@Field.Name" />
            break;
        case FieldType.ImagePlaceholderUrl:
            <img src="@Value" alt="@Field.Name" />
            break;
        case FieldType.StreetAddress:
            <span>@Value</span>
            break;
        case FieldType.Latitude:
            <span>@Value</span>
            break;
        case FieldType.Longitude:
            <span>@Value</span>
            break;
        case FieldType.Price:
            <span>@Value</span>
            break;
        case FieldType.Categories:
            <span>@Value</span>
            break;
        case FieldType.Past:
            <span>@Value</span>
            break;
        case FieldType.PastOffset:
            <span>@Value</span>
            break;
        case FieldType.Soon:
            <span>@Value</span>
            break;
        case FieldType.SoonOffset:
            <span>@Value</span>
            break;
        case FieldType.Future:
            <span>@Value</span>
            break;
        case FieldType.FutureOffset:
            <span>@Value</span>
            break;
        case FieldType.Account:
            <span>@Value</span>
            break;
        case FieldType.Amount:
            <span>@Value</span>
            break;
        case FieldType.CreditCardNumber:
            <span>@Value</span>
            break;
        case FieldType.Iban:
            <span>@Value</span>
            break;
        case FieldType.Avatar:
            <img src = "@Value" alt="@Field.Name"/>
            break;
        case FieldType.Email:
        case FieldType.ExampleEmail:
        case FieldType.UserName:
        case FieldType.UserNameUnicode:
        case FieldType.Password:
            <span>@Value</span>
            break;
        default:
            <span>@Value</span>
            break;
    }
}



@code {
    [Parameter]
    public FieldWrapper? Field { get; set; }
    [Parameter]
    public string? Value{ get; set; }
}
